In [1]:
from pyspark.sql import SparkSession
from datetime import datetime, timedelta
from pyspark.sql.functions import *

In [2]:

spark = SparkSession.builder.appName('loadRawData').getOrCreate()
file = '/Users/ybatash/PycharmProjects/jupyter/tau-network-science/data/raw_data/flightlist_*.csv.gz'
df = spark.read.csv(path=file, header=True)
df = df.withColumn("filename", input_file_name())
df.createOrReplaceTempView('T')
df.printSchema()

root
 |-- callsign: string (nullable = true)
 |-- number: string (nullable = true)
 |-- icao24: string (nullable = true)
 |-- registration: string (nullable = true)
 |-- typecode: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- firstseen: string (nullable = true)
 |-- lastseen: string (nullable = true)
 |-- day: string (nullable = true)
 |-- latitude_1: string (nullable = true)
 |-- longitude_1: string (nullable = true)
 |-- altitude_1: string (nullable = true)
 |-- latitude_2: string (nullable = true)
 |-- longitude_2: string (nullable = true)
 |-- altitude_2: string (nullable = true)
 |-- filename: string (nullable = false)

In [5]:
# spark.sql("""
# select 
#         count(*) as row_count,
#         sum( case when callsign     is not null then 1 else 0 end)/count(*) * 100 as nn_count_callsign     ,
#         sum( case when number       is not null then 1 else 0 end)/count(*) * 100 as nn_count_number       ,
#         sum( case when icao24       is not null then 1 else 0 end)/count(*) * 100 as nn_count_icao24       ,
#         sum( case when registration is not null then 1 else 0 end)/count(*) * 100 as nn_count_registration ,
#         sum( case when typecode     is not null then 1 else 0 end)/count(*) * 100 as nn_count_typecode     ,
#         sum( case when origin       is not null then 1 else 0 end)/count(*) * 100 as nn_count_origin       ,
#         sum( case when destination  is not null then 1 else 0 end)/count(*) * 100 as nn_count_destination  ,

#        sum( case
#                   when origin       is not null and
#                        destination  is not null
#                     then 1 else 0 end)/count(*) * 100 as nn_count_origin_destination       ,


#         sum( case when firstseen    is not null then 1 else 0 end)/count(*) * 100 as nn_count_firstseen    ,
#         sum( case when lastseen     is not null then 1 else 0 end)/count(*) * 100 as nn_count_lastseen     ,
#         sum( case when day          is not null then 1 else 0 end)/count(*) * 100 as nn_count_day          ,
#         sum( case when latitude_1   is not null then 1 else 0 end)/count(*) * 100 as nn_count_latitude_1   ,
#         sum( case when longitude_1  is not null then 1 else 0 end)/count(*) * 100 as nn_count_longitude_1  ,
#         sum( case when altitude_1   is not null then 1 else 0 end)/count(*) * 100 as nn_count_altitude_1   ,
#         sum( case when latitude_2   is not null then 1 else 0 end)/count(*) * 100 as nn_count_latitude_2   ,
#         sum( case when longitude_2  is not null then 1 else 0 end)/count(*) * 100 as nn_count_longitude_2  ,
#         sum( case when altitude_2   is not null then 1 else 0 end)/count(*) * 100 as nn_count_altitude_2
# from T
# where origin is not null and destination  is not null
# """).show(10, False)

In [6]:
# spark.sql("""
# select 
#         filename,
#         count(*) as row_count,
#         sum( case when callsign     is not null then 1 else 0 end)/count(*) * 100 as nn_count_callsign     ,
#         sum( case when number       is not null then 1 else 0 end)/count(*) * 100 as nn_count_number       ,
#         sum( case when icao24       is not null then 1 else 0 end)/count(*) * 100 as nn_count_icao24       ,
#         sum( case when registration is not null then 1 else 0 end)/count(*) * 100 as nn_count_registration ,
#         sum( case when typecode     is not null then 1 else 0 end)/count(*) * 100 as nn_count_typecode     ,
#         sum( case when origin       is not null then 1 else 0 end)/count(*) * 100 as nn_count_origin       ,
#         sum( case when destination  is not null then 1 else 0 end)/count(*) * 100 as nn_count_destination  ,

#        sum( case
#                   when origin       is not null and
#                        destination  is not null
#                     then 1 else 0 end)/count(*) * 100 as nn_count_origin_destination       ,


#         sum( case when firstseen    is not null then 1 else 0 end)/count(*) * 100 as nn_count_firstseen    ,
#         sum( case when lastseen     is not null then 1 else 0 end)/count(*) * 100 as nn_count_lastseen     ,
#         sum( case when day          is not null then 1 else 0 end)/count(*) * 100 as nn_count_day          ,
#         sum( case when latitude_1   is not null then 1 else 0 end)/count(*) * 100 as nn_count_latitude_1   ,
#         sum( case when longitude_1  is not null then 1 else 0 end)/count(*) * 100 as nn_count_longitude_1  ,
#         sum( case when altitude_1   is not null then 1 else 0 end)/count(*) * 100 as nn_count_altitude_1   ,
#         sum( case when latitude_2   is not null then 1 else 0 end)/count(*) * 100 as nn_count_latitude_2   ,
#         sum( case when longitude_2  is not null then 1 else 0 end)/count(*) * 100 as nn_count_longitude_2  ,
#         sum( case when altitude_2   is not null then 1 else 0 end)/count(*) * 100 as nn_count_altitude_2
# from T
# where origin is not null and destination  is not null
# group by 1
# """).show(10, False)

In [3]:
res_df = spark.sql("""
select origin                   as Source,
       destination              as Target,
       count(*)                 as Weight 
from   T       
where   1=1
        and origin is not null and destination  is not null
        and filename like 'file:///Users/ybatash/PycharmProjects/jupyter/tau-network-science/data/raw_data/flightlist_2019_%.csv.gz'
group by 1,2        
""")

In [3]:
# SMALL EDGES FILE

# res_df = spark.sql("""
# select origin                   as Source,
#        destination              as Target,
#        count(*)                 as Weight 
# from   T       
# where   1=1
#         and origin is not null and destination  is not null
#         and filename like 'file:///Users/ybatash/PycharmProjects/jupyter/tau-network-science/data/raw_data/flightlist_2019_01.csv.gz'
# group by 1,2        
# """)

In [4]:
res_df.repartition(1).write.format("com.databricks.spark.csv").option("header", "true").save("b_01_2019")

In [24]:
spark.sql("""
select origin                   as origin_airport,
       destination              as destination_airport,
       count(*)                 as flights_count,
       count(distinct callsign) as distinct_callsign_count,
       count(distinct icao24)   as distinct_icao24_count,
       min(firstseen)           as min_firstseen,
       max(firstseen)           as max_firstseen 
from   T       
where   1=1
        and origin is not null and destination  is not null
        and filename = 'file:///Users/ybatash/PycharmProjects/jupyter/tau-network-science/data/raw_data/flightlist_2019_01.csv.gz'
group by 1,2        
""").show(10, False)

+--------------+-------------------+-------------+-----------------------+---------------------+-------------------------+-------------------------+
|origin_airport|destination_airport|flights_count|distinct_callsign_count|distinct_icao24_count|min_firstseen            |max_firstseen            |
+--------------+-------------------+-------------+-----------------------+---------------------+-------------------------+-------------------------+
|01FA          |KLKR               |2            |2                      |2                    |2019-01-06 22:34:07+00:00|2019-01-09 15:36:47+00:00|
|05IN          |KORD               |1            |1                      |1                    |2019-01-31 22:13:31+00:00|2019-01-31 22:13:31+00:00|
|05MD          |KGAI               |1            |1                      |1                    |2019-01-31 20:34:36+00:00|2019-01-31 20:34:36+00:00|
|06NC          |94NC               |1            |1                      |1                    |2019-01-08 20:22:32+00:00|2019-01-08 20:22:32+00:00|
|08TE          |9TX5               |1            |1                      |1                    |2019-01-23 23:42:47+00:00|2019-01-23 23:42:47+00:00|
|0FL9          |KX58               |1            |1                      |1                    |2019-01-05 20:50:35+00:00|2019-01-05 20:50:35+00:00|
|0OK5          |KPWA               |1            |1                      |1                    |2019-01-24 17:14:40+00:00|2019-01-24 17:14:40+00:00|
|11TX          |9XS4               |1            |1                      |1                    |2019-01-07 22:47:58+00:00|2019-01-07 22:47:58+00:00|
|13CL          |KSAC               |2            |2                      |2                    |2019-01-11 23:06:05+00:00|2019-01-19 22:46:02+00:00|
|13CL          |KVCB               |2            |1                      |1                    |2019-01-10 20:09:54+00:00|2019-01-24 22:09:07+00:00|
+--------------+-------------------+-------------+-----------------------+---------------------+-------------------------+-------------------------+
only showing top 10 rows